body {
  padding-top: 40px;
  padding-bottom: 40px;
/*  background-color: #eee;*/
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

table.sortable > tbody > tr > th {
  cursor: pointer;
}

table.userdetails td > ul {
  margin-bottom: 0;
  margin-left: 0.5ex;
  padding-left: 2ex;
}

/*table.userdetails td > ul > li {
  list-style-position: inside;
  padding-left: 10px;
  text-indent: -10px;
}*/

th.lblGruppen {
  vertical-align: top;
}

.clickable {
  cursor: pointer;
}

table.userdetails > tbody > tr > th {
  padding-right: 5px;
}

/*.table > tbody > tr > td[colspan] {
  /*padding: 0;*/
/*  border-top: none;
}*/

