body {
  padding-top: 60px;
  padding-bottom: 40px;
  /* To avoid a horizontal scrollbar when the page enters/leaves the view
   * during animation */
  overflow-x: hidden;
/*  background-color: #eee;*/
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

table.sortable > tbody > tr > th {
  cursor: pointer;
}

table.userdetails td > ul {
  margin-bottom: 0;
  margin-left: 0.5ex;
  padding-left: 2ex;
}

/*table.userdetails td > ul > li {
  list-style-position: inside;
  padding-left: 10px;
  text-indent: -10px;
}*/

th.lblGruppen {
  vertical-align: top;
}

.clickable {
  cursor: pointer;
}

table.userdetails > tbody > tr > th {
  padding-right: 5px;
}

div#alert-container {
  position: fixed;
  z-index: 1000;
}

/*.table > tbody > tr > td[colspan] {
  /*padding: 0;*/
/*  border-top: none;
}*/

.rbtnMargin {
  margin-left: 5px;
}





/* ANIMATION STYLINGS
============================================================================= */

/* basic styling for entering and leaving */
/* left and right added to ensure full width */
.ngStepAnimated.ng-enter,
.ngStepAnimated.ng-leave {
  position:absolute;
  left:30px;
  right:30px;
  transition:1.0s all ease;
  -moz-transition:1.0s all ease;
  -webkit-transition:1.0s all ease;
}

/* enter animation */
.ngStepAnimated.ng-enter {
    -webkit-animation:slideInRight 1.0s both ease;
    -moz-animation:slideInRight 1.0s both ease;
    animation:slideInRight 1.0s both ease;
}
.ngStepAnimated.moveToRight.ng-enter {
    -webkit-animation:slideInLeft 1.0s both ease;
    -moz-animation:slideInLeft 1.0s both ease;
    animation:slideInLeft 1.0s both ease;
}

/* leave animation */
.ngStepAnimated.ng-leave {
    -webkit-animation:slideOutLeft 1.0s both ease;
    -moz-animation:slideOutLeft 1.0s both ease;
    animation:slideOutLeft 1.0s both ease;
}
.ngStepAnimated.moveToRight.ng-leave {
    -webkit-animation:slideOutRight 1.0s both ease;
    -moz-animation:slideOutRight 1.0s both ease;
    animation:slideOutRight 1.0s both ease;
}

/* ANIMATIONS
============================================================================= */
@keyframes slideOutLeft {
    to      { transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {
    to      { -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
    to      { -webkit-transform: translateX(-200%); }
}
@keyframes slideOutRight {
    to      { transform: translateX(+200%); }
}
@-moz-keyframes slideOutRight {
    to      { -moz-transform: translateX(+200%); }
}
@-webkit-keyframes slideOutRight {
    to      { -webkit-transform: translateX(+200%); }
}

@keyframes slideInRight {
    from    { transform:translateX(200%); }
    to      { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
    from    { -moz-transform:translateX(200%); }
    to      { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
    from    { -webkit-transform:translateX(200%); }
    to      { -webkit-transform: translateX(0); }
}
@keyframes slideInLeft {
    from    { transform:translateX(-200%); }
    to      { transform: translateX(0); }
}
@-moz-keyframes slideInLeft {
    from    { -moz-transform:translateX(-200%); }
    to      { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInLeft {
    from    { -webkit-transform:translateX(-200%); }
    to      { -webkit-transform: translateX(0); }
}

