<div class="well">
  <a href="#" class="close" aria-label="close"
      ng-if="closable"
      ng-click="expandClickFn({user: user})">
    &times;
  </a>
  <div style="text-align: center" ng-if="user.loading">
    <span class="fa fa-refresh"
        ng-class="{'fa-spin' : user.loading}"></span>
  </div>
  <table class="userdetails" ng-if="!user.loading">
    <tr>
      <th>cn:</th>
      <td>{{user.cn}}</td>
    </tr>
    <tr>
      <th>Name:</th>
      <td ng-if="editable">
        <usradm-edit-text usradm-field="user.displayName"
            onbeforesave="editUserService.updateDisplayName(data, form, user)">
        </usradm-edit-text>
      </td>
      <td ng-if="!editable">
        {{user.displayName}}
      </td>
    </tr>
    <tr>
      <th>E-Mail:</th>
      <td ng-if="editable">
        <usradm-edit-text usradm-field="user.mail"
            onbeforesave="editUserService.updateMail(data, form, user)">
        </usradm-edit-text>
      </td>
      <td ng-if="!editable">
        {{user.mail}}
      </td>
    </tr>
    <tr>
      <th class="lblGruppen">Gruppen:</th>
      <td>
        <ul ng-if="user.groups.length">
          <li ng-repeat="group in user.groups">
            {{group.cn}}
            <span class="small">({{group.description}})</span>
            <span class="fa fa-refresh"
                ng-show="editUserService.groupIsRemoving(user, group)"
                ng-class="{'fa-spin' :
                    editUserService.groupIsRemoving(user, group)}"></span>
            <span class="glyphicon glyphicon-minus clickable"
                ng-click="editUserService.removeGroupFromUser(user, group)"
                ng-if="editable">
            </span>
          </li>
        </ul>
            <span class="fa fa-refresh"
                ng-show="editUserService.groupIsAdding(user)"
                ng-class="{'fa-spin' :
                    editUserService.groupIsAdding(user)}"></span>
        <span class="glyphicon glyphicon-plus clickable"
            ng-click="editUserService.addGroup(user)"
            ng-if="editable">
        </span>
      </td>
    </tr>
  </table>
</div>
