<div id="accordion" class="panel-group">
  <div class="panel panel-default" ng-if="metagroupData.length">
    <div data-toggle="collapse" href="#collapseMetagroups"
        data-parent="#accordion"
        class="panel-heading clickable">
      <h4 class="panel-title">Metagroups</h4>
    </div>
    <div id="collapseMetagroups" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item clickable"
            ng-repeat="metagroup in metagroupData"
            ng-click="editUserService.addGroupToUser(metagroup, true)">
          <h5 class="list-group-item-heading">
            {{metagroup.cn}}
            <span class="small">
              ({{metagroup.dn}})
            </span>
          </h5>
          <p class="list-group-item-text">
            {{metagroup.description}}
          </p>
          <ul ng-if="metagroup.members.length">
            <li ng-repeat="group in metagroup.members">
              {{group}}
            </li>
          </ul>
        </li>
      </ul>
    </div> <!-- panel-collapse -->
  </div> <!-- panel -->
  <div class="panel panel-default" ng-repeat="ou in groupData">
    <div data-toggle="collapse" href="#collapse{{ou.ou}}"
        data-parent="#accordion"
        class="panel-heading clickable">
      <h4 class="panel-title">
        {{ou.ou}}
        <span class="small">
          ({{ou.dn}})
        </span>
      </h4>
      <p class="list-group-item-text">
        {{ou.description}}
      </p>
    </div>
    <div id="collapse{{ou.ou}}" class="panel-collapse collapse">
      <ul class="list-group" ng-if="ou.groups.length">
        <li class="list-group-item clickable"
            ng-repeat="group in ou.groups"
            ng-show="!editUserService.userHasGroup(group)"
            ng-click="editUserService.addGroupToUser(group, false)">
          <h5 class="list-group-item-heading">
            {{group.cn}}
            <span class="small">
              ({{group.dn}})
            </span>
          </h5>
          <p class="list-group-item-text">
            {{group.description}}
          </p>
        </li>
      </ul>
      <div class="panel-body" ng-if="!ou.groups.length">
        Keine Gruppen in dieser Kategorie.
      </div>
    </div> <!-- panel-collapse -->
  </div> <!-- panel -->
</div> <!-- panel-group -->
