<div id="groupAddModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
            data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Gruppe hinzufügen</h4>
      </div>
      <div class="modal-body">
        <usradm-group-add-list-accordion
          group-data="groupData"
          metagroup-data="metagroupData">
        </usradm-group-add-list-accordion>
      </div> <!-- modal-body -->
      <div class="modal-footer">
      </div>
    </div>

  </div>
</div>
